<div class="content">
    <div class="header" id="header">
      <div class="nav">
       <label></label>
       <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
      </div>
    </div>
    <div class="main">
    	<div class="text">
    		<h1 style="margin-left: -10%; font-family: Verdana;">ELearning Management System</h1><br>
    	</div><br>
      <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">
    </div>
  </div>
  <br>
</div>
<br><br>



<app-footer></app-footer>
